.header {
    background-image: url('../images/header.jpg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    width: 24px;
    height: 24px;
    margin: 36px 43px 98px 33px;
    position: fixed;

    @media (min-width: 1728px) {
        display: none !important;
    }
}

.header__menulist {
    display: none;

    @media (min-width: 1728px) {
        display: flex;
        gap: 30px;
        color: #0c474b;
        padding-top: 75px;
        padding-left: 280px;
        
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}


.section__header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    gap: 80px;
    position: relative;
    padding-top: 170px;
    padding-bottom: 70px;

    
    @media (min-width: 900px) {
        align-items: flex-start; 
        text-align: left;
        gap: 10px;
        padding-top: 200px;
        padding-left: 147px;
        padding-bottom: 200px;
        max-width: 430px;
    }

    @media (min-width: 1728px) {
        padding-left: 280px;
        max-width: 600px;
        
    }
}

.h1 {
    color: #0c474b;
    font-size: 30px;
    font-weight: 600;
}

.button-comprarAhora {
    background-color: #0C474B;
    color: white;
    width: 175px;
    height: 50px;
    font-size: 20px;
}

