.header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    width: 24px;
    height: 24px;
    margin: 36px 43px 98px 33px;
    position: fixed;
}

.section__header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    gap: 80px;
    position: relative;
    padding-top: 19px;
    padding-bottom: 70px;
}

.h1 {
    color: #0c474b;
    font-size: 30px;
    font-weight: 600;
}

.button-comprarAhora {
    background-color: #0C474B;
    color: white;
    width: 175px;
    height: 50px;
    font-size: 20px;
}

