
<footer class="footer">
  <ul class="footer__ul">Tienda
    <li><a class="footer__a" href="https://adalab.es/">Productos</a></li>
    <li><a class="footer__a" href="https://adalab.es/">Cajoneras</a></li>
    <li><a class="footer__a" href="https://adalab.es/">Para toda la casa</a></li>
    <li><a class="footer__a" href="https://adalab.es/">Habitaciones</a></li>
  </ul>
  <ul class="footer__ul">Nosotros
    <li><a class="footer__a" href="https://adalab.es/">Nuestra guía</a></li>
    <li><a class="footer__a" href="https://adalab.es/">Nuestro diseño</a></li>
    <li><a class="footer__a" href="https://adalab.es/">nuestra historia</a></li>
    <li><a class="footer__a" href="https://adalab.es/">Ayuda</a></li>
  </ul>
  <ul class="footer__ul">Contacto
    <li><a class="footer__a" href="https://adalab.es/">ayuda@openspaces.com</a></li>
    <li><a class="footer__a" href="https://adalab.es/">Socios</a></li>

    <section class="footer__rrss">
      <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
    <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
    <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
    </section>
  </ul>
  
</footer>
