<header class="header">
  <nav class=".nav">
    <i class="fas fa-bars" style="color: #0c474b;"></i>

    <ul class="header__menulist">
      <li>Productos</li>
      <li>Colecciones</li>
      <li>Tienda</li>
      <li>Inicio</li>
    </ul>
  </nav>

  <div class="logo-container">
  <img src="./images/logo.png" alt="logo" class="nav__logo">
  </div>
  <section class="section__header">
    <h1 class="h1">Disfruta creando espacios</h1>
    <button class="button-comprarAhora">Comprar Ahora</button>
  </section>
 </header>
